@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*@using (Html.BeginForm("", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="FileUpload1" /><br />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }*@
</body>
</html>
