@{
    Layout = null;
}
<script src="~/Script/jquery-1.8.2.min.js"></script>
<link href="~/CSS/webuploader.css" rel="stylesheet" />
<script src="~/Script/webuploader.js"></script>
@*<link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/style.css" rel="stylesheet" />
    <link href="~/CSS/demo.css" rel="stylesheet" />*@
<link href="~/CSS/DemoAll.css" rel="stylesheet" />
<link href="~/CSS/font-awesome.css" rel="stylesheet" />

<table class="tc_table_cp " border="0">
    <tr>
        <td width="104">图片上传：</td>
        <td colspan="3">
            <div id="fileList">

            </div>
            <div class="cp_img_jia" id="filePicker"></div>
        </td>
    </tr>
    <tr>
        <td width="104"></td>
        <td colspan="3">
            <button id="ctlBtn" class="btn btn-default">开始上传</button>
        </td>
    </tr>
</table>

<!--dom结构部分-->
<div id="uploader-demo" class="jumbotron">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>


@*<script type="text/javascript">

        var applicationPath = window.applicationPath === "" ? "" : window.applicationPath || "../../";
        $(function () {
            var $ = jQuery,
            $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,
            // 缩略图大小
            thumbnailWidth = 90 * ratio,
            thumbnailHeight = 90 * ratio,

            // Web Uploader实例
            uploader;
            uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: false,

                disableGlobalDnd: true,
                // swf文件路径
                swf: applicationPath + '/Script/Uploader.swf',

                // 文件接收服务端。
                server: applicationPath + '/Home/UpLoadProcess',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                //只允许选择图片
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                var $li = $(
                        '<div id="' + file.id + '" class="cp_img">' +
                            '<img>' +
                        '<div class="cp_img_jian"></div></div>'
                        ),
                    $img = $li.find('img');


                // $list为容器jQuery实例
                $list.append($li);

                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress span');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<p class="progress"><span></span></p>')
                            .appendTo($li)
                            .find('span');
                }

                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on('uploadSuccess', function (file, response) {

                $('#' + file.id).addClass('upload-state-done');
            });

            // 文件上传失败，显示上传出错。
            uploader.on('uploadError', function (file) {
                var $li = $('#' + file.id),
                    $error = $li.find('div.error');

                // 避免重复创建
                if (!$error.length) {
                    $error = $('<div class="error"></div>').appendTo($li);
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').remove();
            });

            //所有文件上传完毕
            uploader.on("uploadFinished", function () {
                //提交表单

            });

            //开始上传
            $("#ctlBtn").click(function () {
                uploader.upload();

            });

            //显示删除按钮
            $(".cp_img").live("mouseover", function () {
                $(this).children(".cp_img_jian").css('display', 'block');

            });
            //隐藏删除按钮
            $(".cp_img").live("mouseout", function () {
                $(this).children(".cp_img_jian").css('display', 'none');

            });
            //执行删除方法
            $list.on("click", ".cp_img_jian", function () {
                var Id = $(this).parent().attr("id");
                uploader.removeFile(uploader.getFile(Id, true));
                $(this).parent().remove();
            });

        });


    </script>*@

<script type="text/javascript">
    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: applicationPath + '/Script/Uploader.swf',

        // 文件接收服务端。
        server: applicationPath + '/Home/UpLoadProcess',

        //// swf文件路径
        //swf: BASE_URL + '/js/Uploader.swf',

        //// 文件接收服务端。
        //server: 'http://webuploader.duapp.com/server/fileupload.php',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    //监听fileQueued事件，通过uploader.makeThumb来创建图片预览图。
    //PS: 这里得到的是Data URL数据，IE6、IE7不支持直接预览。可以借助FLASH或者服务端来完成预览。

    // 当有文件添加进来的时候
    uploader.on('fileQueued', function (file) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.append($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, thumbnailWidth, thumbnailHeight);
    });
    //然后剩下的就是上传状态提示了，当文件上传过程中, 上传成功，上传失败，上传完成都分别对应uploadProgress, uploadSuccess, uploadError, uploadComplete事件。

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function (file) {
        $('#' + file.id).addClass('upload-state-done');
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').remove();
    });
</script>

