USE [MySchoolMoreData]
GO
/****** Object:  Table [dbo].[CharTest]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CharTest](
	[Char] [char](10) NULL,
	[Varchar] [varchar](10) NULL,
	[Nchar] [nchar](10) NULL,
	[Nvarchar] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CharTest] ([Char], [Varchar], [Nchar], [Nvarchar]) VALUES (N'aa        ', N'aa', N'aaaaaaaaaa', N'aa')
/****** Object:  Table [dbo].[Category]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[tId] [int] IDENTITY(1,1) NOT NULL,
	[tName] [nvarchar](100) NOT NULL,
	[tParentId] [int] NOT NULL,
	[tNote] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[tId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([tId], [tName], [tParentId], [tNote]) VALUES (1, N'软件开发', -1, N'关于代码的那些鸟事儿')
INSERT [dbo].[Category] ([tId], [tName], [tParentId], [tNote]) VALUES (2, N'休闲娱乐', -1, N'累了吧，来休息会')
INSERT [dbo].[Category] ([tId], [tName], [tParentId], [tNote]) VALUES (3, N'C#', 1, N'C Sharp')
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[books]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[books](
	[bookid] [int] NOT NULL,
	[bookname] [char](50) NOT NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[books] ([bookid], [bookname], [price]) VALUES (1001, N'人生若只如初见                                    ', 25.5200)
INSERT [dbo].[books] ([bookid], [bookname], [price]) VALUES (1002, N'SQl Server 2005                                   ', NULL)
INSERT [dbo].[books] ([bookid], [bookname], [price]) VALUES (1003, N'东莞不相信眼泪                                    ', 15.0000)
/****** Object:  Table [dbo].[bank]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bank](
	[name] [char](10) NULL,
	[cmoney] [money] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[bank] ([name], [cmoney]) VALUES (N'aa        ', 1000.0000)
INSERT [dbo].[bank] ([name], [cmoney]) VALUES (N'bb        ', 1.0000)
/****** Object:  Table [dbo].[Areas]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Areas](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[AName] [varchar](50) NOT NULL,
	[APid] [int] NOT NULL,
	[ASort] [int] NOT NULL,
	[AAddTime] [datetime] NOT NULL,
	[ADelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级节点ID(-1为顶级节点)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Areas', @level2type=N'COLUMN',@level2name=N'APid'
GO
SET IDENTITY_INSERT [dbo].[Areas] ON
INSERT [dbo].[Areas] ([AID], [AName], [APid], [ASort], [AAddTime], [ADelFlag]) VALUES (1, N'湖南', 0, 5, CAST(0x0000998F008E7394 AS DateTime), 0)
INSERT [dbo].[Areas] ([AID], [AName], [APid], [ASort], [AAddTime], [ADelFlag]) VALUES (2, N'北京', 0, 1, CAST(0x0000998F008E7394 AS DateTime), 0)
INSERT [dbo].[Areas] ([AID], [AName], [APid], [ASort], [AAddTime], [ADelFlag]) VALUES (3, N'天津', 0, 2, CAST(0x0000998F008E7394 AS DateTime), 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[Areas] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[name] [nvarchar](50) NOT NULL,
	[pwd] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([name], [pwd]) VALUES (N'a', N'a')
INSERT [dbo].[Admin] ([name], [pwd]) VALUES (N'a', N'a')
INSERT [dbo].[Admin] ([name], [pwd]) VALUES (N'a', N'c')
/****** Object:  Table [dbo].[Order]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IIdd] [int] IDENTITY(1,1) NOT NULL,
	[id] [nchar](10) NULL,
	[money] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([IIdd], [id], [money]) VALUES (1, N'pk1       ', 10)
INSERT [dbo].[Order] ([IIdd], [id], [money]) VALUES (2, N'pk2       ', 20)
INSERT [dbo].[Order] ([IIdd], [id], [money]) VALUES (3, N'pk3       ', -30)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[grade]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grade](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[classname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_grade] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[grade] ON
INSERT [dbo].[grade] ([ClassId], [classname]) VALUES (2, N'二期班')
INSERT [dbo].[grade] ([ClassId], [classname]) VALUES (3, N'三期班')
INSERT [dbo].[grade] ([ClassId], [classname]) VALUES (4, N'四期班')
SET IDENTITY_INSERT [dbo].[grade] OFF
/****** Object:  Table [dbo].[employee]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[eId] [int] IDENTITY(1,1) NOT NULL,
	[eName] [varchar](10) NOT NULL,
	[eSex] [char](2) NOT NULL,
	[eAge] [int] NOT NULL,
	[eSalary] [int] NOT NULL,
	[eDepId] [int] NOT NULL,
	[eInTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON
INSERT [dbo].[employee] ([eId], [eName], [eSex], [eAge], [eSalary], [eDepId], [eInTime]) VALUES (1, N'苍老师', N'0 ', 28, 10000, 1, CAST(0x0000981700000000 AS DateTime))
INSERT [dbo].[employee] ([eId], [eName], [eSex], [eAge], [eSalary], [eDepId], [eInTime]) VALUES (2, N'导演', N'1 ', 45, 9000, 2, CAST(0x0000953D00000000 AS DateTime))
INSERT [dbo].[employee] ([eId], [eName], [eSex], [eAge], [eSalary], [eDepId], [eInTime]) VALUES (3, N'武兰老师', N'0 ', 35, 6000, 1, CAST(0x0000946800000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[employee] OFF
/****** Object:  Table [dbo].[department]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[department](
	[dId] [int] IDENTITY(1,1) NOT NULL,
	[dName] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[department] ON
INSERT [dbo].[department] ([dId], [dName]) VALUES (1, N'主演')
INSERT [dbo].[department] ([dId], [dName]) VALUES (2, N'导演')
INSERT [dbo].[department] ([dId], [dName]) VALUES (3, N'幕后')
SET IDENTITY_INSERT [dbo].[department] OFF
/****** Object:  Table [dbo].[User]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPwd] [varchar](16) NOT NULL,
	[Email] [varchar](50) NULL,
	[Phone] [char](13) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [UserName], [UserPwd], [Email], [Phone]) VALUES (9, N'aa', N'123456', N'aa@bb.com', N'             ')
INSERT [dbo].[User] ([Id], [UserName], [UserPwd], [Email], [Phone]) VALUES (10, N'aaa', N'123456', N'aa@bb.com', N'             ')
INSERT [dbo].[User] ([Id], [UserName], [UserPwd], [Email], [Phone]) VALUES (11, N'aabb', N'123456', N'aa@bb.com', N'             ')
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Subject]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[ClassHour] [int] NOT NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subject] ON
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [ClassHour], [ClassId]) VALUES (1, N'office', 6, 6)
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [ClassHour], [ClassId]) VALUES (2, N'HTML', 10, 3)
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [ClassHour], [ClassId]) VALUES (3, N'C#', 8, 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
/****** Object:  Table [dbo].[Student]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StudentNo] [int] IDENTITY(1,1) NOT NULL,
	[LoginPwd] [nvarchar](20) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[Sex] [char](2) NOT NULL,
	[ClassId] [int] NULL,
	[Phone] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[BornDate] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
	[isDel] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY NONCLUSTERED 
(
	[StudentNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON
INSERT [dbo].[Student] ([StudentNo], [LoginPwd], [StudentName], [Sex], [ClassId], [Phone], [Address], [BornDate], [Email], [isDel]) VALUES (3, N'123456', N'冯晨旭123', N'男', 4, N'110', N'广州传智播客', CAST(0x00008A6400000000 AS DateTime), N'a@b.com', 0)
INSERT [dbo].[Student] ([StudentNo], [LoginPwd], [StudentName], [Sex], [ClassId], [Phone], [Address], [BornDate], [Email], [isDel]) VALUES (6, N'123456', N'郭林清', N'女', 1, N'999', N'广州传智播客', CAST(0x00008BE700000000 AS DateTime), N'aa@bb.com', 0)
INSERT [dbo].[Student] ([StudentNo], [LoginPwd], [StudentName], [Sex], [ClassId], [Phone], [Address], [BornDate], [Email], [isDel]) VALUES (18, N'123456', N'郭林清', N'女', 7, N'120', N'广州传智播客', CAST(0x00008A6400000000 AS DateTime), N'a@b.com', 0)
SET IDENTITY_INSERT [dbo].[Student] OFF
/****** Object:  Table [dbo].[PhoneNum]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhoneNum](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[pTypeId] [int] NOT NULL,
	[pName] [nvarchar](50) NULL,
	[pCellPhone] [varchar](50) NULL,
	[pHomePhone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNum] ON
INSERT [dbo].[PhoneNum] ([pId], [pTypeId], [pName], [pCellPhone], [pHomePhone]) VALUES (1, 2, N'刘备', N'13000000000', N'7000000')
INSERT [dbo].[PhoneNum] ([pId], [pTypeId], [pName], [pCellPhone], [pHomePhone]) VALUES (6, 3, N'孙权', N'13400000003', N'9000003')
INSERT [dbo].[PhoneNum] ([pId], [pTypeId], [pName], [pCellPhone], [pHomePhone]) VALUES (7, 22, N'小乔', N'13400000004', N'9000004')
SET IDENTITY_INSERT [dbo].[PhoneNum] OFF
/****** Object:  Table [dbo].[Result]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentNo] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[StudentResult] [int] NULL,
	[ExamDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Result] ON
INSERT [dbo].[Result] ([Id], [StudentNo], [SubjectId], [StudentResult], [ExamDate]) VALUES (3, 3, 2, 100, CAST(0xA97D0000 AS SmallDateTime))
INSERT [dbo].[Result] ([Id], [StudentNo], [SubjectId], [StudentResult], [ExamDate]) VALUES (4, 2, 2, 87, CAST(0xA0EE0000 AS SmallDateTime))
INSERT [dbo].[Result] ([Id], [StudentNo], [SubjectId], [StudentResult], [ExamDate]) VALUES (5, 6, 1, 100, CAST(0xA2BB0000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Result] OFF
/****** Object:  Table [dbo].[ContentInfo]    Script Date: 04/08/2014 12:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContentInfo](
	[dId] [int] IDENTITY(1,1) NOT NULL,
	[dTId] [int] NOT NULL,
	[dName] [nvarchar](100) NOT NULL,
	[dContent] [varchar](max) NULL,
	[dInTime] [datetime] NULL,
	[dEditTime] [datetime] NULL,
	[dIsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[dId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ContentInfo] ON
INSERT [dbo].[ContentInfo] ([dId], [dTId], [dName], [dContent], [dInTime], [dEditTime], [dIsDeleted]) VALUES (1, 3, N'C#操作文件', N'IO操作....', CAST(0x0000A280011DAA9B AS DateTime), CAST(0x0000A280011DAA9B AS DateTime), 0)
INSERT [dbo].[ContentInfo] ([dId], [dTId], [dName], [dContent], [dInTime], [dEditTime], [dIsDeleted]) VALUES (2, 3, N'C#操数据库', N'数据库操作....', CAST(0x0000A280011DAA9B AS DateTime), CAST(0x0000A280011DAA9B AS DateTime), 0)
INSERT [dbo].[ContentInfo] ([dId], [dTId], [dName], [dContent], [dInTime], [dEditTime], [dIsDeleted]) VALUES (3, 3, N'C#加密解密', N'加密解密....', CAST(0x0000A280011DAA9B AS DateTime), CAST(0x0000A280011DAA9B AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ContentInfo] OFF
/****** Object:  Default [DF_Admin_pwd]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_pwd]  DEFAULT ((123456)) FOR [pwd]
GO
/****** Object:  Default [DF_Area_AAddTime]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Areas] ADD  CONSTRAINT [DF_Area_AAddTime]  DEFAULT (getdate()) FOR [AAddTime]
GO
/****** Object:  Default [DF_Area_ADelFlag]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Areas] ADD  CONSTRAINT [DF_Area_ADelFlag]  DEFAULT ((0)) FOR [ADelFlag]
GO
/****** Object:  Default [DF_data_dIntime]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[ContentInfo] ADD  CONSTRAINT [DF_data_dIntime]  DEFAULT (getdate()) FOR [dInTime]
GO
/****** Object:  Default [DF_data_dEditTime]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[ContentInfo] ADD  CONSTRAINT [DF_data_dEditTime]  DEFAULT (getdate()) FOR [dEditTime]
GO
/****** Object:  Default [DF_data_dIsDeleted]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[ContentInfo] ADD  CONSTRAINT [DF_data_dIsDeleted]  DEFAULT ((0)) FOR [dIsDeleted]
GO
/****** Object:  Default [DF_Student_LoginPwd]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_LoginPwd]  DEFAULT ((123456)) FOR [LoginPwd]
GO
/****** Object:  Default [DF_Student_Sex]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_Sex]  DEFAULT ('男') FOR [Sex]
GO
/****** Object:  Default [DF_Student_Address]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_Address]  DEFAULT (N'学生宿舍') FOR [Address]
GO
/****** Object:  Default [DF_Student_isDel]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_isDel]  DEFAULT ((0)) FOR [isDel]
GO
/****** Object:  Default [DF_Subject_ClassHour]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF_Subject_ClassHour]  DEFAULT ((0)) FOR [ClassHour]
GO
/****** Object:  Check [ck_cmoey]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[bank]  WITH CHECK ADD  CONSTRAINT [ck_cmoey] CHECK  (([cmoney]>=(1)))
GO
ALTER TABLE [dbo].[bank] CHECK CONSTRAINT [ck_cmoey]
GO
/****** Object:  Check [CK_Result]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [CK_Result] CHECK  (([StudentResult] IS NULL OR [StudentResult]>=(0) AND [StudentResult]<=(100)))
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [CK_Result]
GO
/****** Object:  Check [CK_Student]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student] CHECK  ((len([LoginPwd])>=(6)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student]
GO
/****** Object:  Check [CK_Student_1]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_1] CHECK  (([Sex]='男' OR [Sex]='女'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_1]
GO
/****** Object:  Check [CK_Subject]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [CK_Subject] CHECK  (([ClassHour]>(0)))
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [CK_Subject]
GO
/****** Object:  ForeignKey [FK__ContentInf__dTId__276EDEB3]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[ContentInfo]  WITH CHECK ADD FOREIGN KEY([dTId])
REFERENCES [dbo].[Category] ([tId])
GO
/****** Object:  ForeignKey [FK__ContentInf__dTId__286302EC]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[ContentInfo]  WITH CHECK ADD FOREIGN KEY([dTId])
REFERENCES [dbo].[Category] ([tId])
GO
/****** Object:  ForeignKey [FK_Result_subject_subjectid]    Script Date: 04/08/2014 12:22:20 ******/
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_subject_subjectid] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_subject_subjectid]
GO
